@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-poppins: "Poppins", Arial, Helvetica, sans-serif;
  --font-fredoka: "Fredoka", cursive, Arial, Helvetica, sans-serif;
}

body {
	@apply overflow-x-hidden bg-gray-100 font-poppins;
}

a, button {
    @apply cursor-pointer;
}


/* SIDEBAR */
#sidebar {
    @apply fixed max-w-[260px] w-full bg-gray-50 top-0 left-0 h-full overflow-y-hidden transition-all duration-300 z-[200];
	scrollbar-width: none;
}
#sidebar.hide {
    @apply max-w-[60px];
}
/* #sidebar.hide:hover {
    @apply max-w-[260px];
} */
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
    @apply text-2xl mt-2 flex items-center h-[64px] font-bold text-blue-500 sticky top-0 left-0 z-[100] bg-gray-50 transition-all duration-300 px-[6px];
}
#sidebar .icon {
    @apply min-w-[48px] flex justify-center items-center mr-[6px];
}
#sidebar .icon-right {
    @apply ml-auto transition-all duration-300;
}
#sidebar .side-menu {
    @apply my-3 px-5 transition-all duration-300 flex flex-col;
    height: calc(100% - 90px);
}
#sidebar.hide .side-menu {
	@apply px-[6px];
}
/* #sidebar.hide:hover .side-menu {
	@apply px-5;
} */
#sidebar .side-menu a,
#sidebar .side-menu button {
    @apply flex items-center text-sm text-gray-900 py-3 pr-4 transition-all duration-300 rounded-[10px] my-1 whitespace-nowrap;
}
#sidebar .side-menu > li > a:hover,
#sidebar .side-menu > li > button:hover {
	@apply bg-gray-200;
}
#sidebar .side-menu > li > a.active .icon-right,
#sidebar .side-menu > li > button.active .icon-right {
    @apply rotate-z-90;
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > button.active {
	@apply bg-blue-500 text-gray-50;
}
#sidebar .divider {
    @apply mt-4 text-xs uppercase font-bold text-gray-800 transition-all duration-300 whitespace-nowrap;
}
/* #sidebar.hide:hover .divider {
	@apply text-left;
} */
#sidebar.hide .divider {
	@apply text-center;
}
#sidebar .side-dropdown {
    @apply pl-[54px] max-h-0 overflow-y-hidden transition-all duration-500;
}
#sidebar .side-dropdown.show {
	@apply max-h-[200px];
}
#sidebar .side-dropdown a.active,
#sidebar .side-dropdown a:hover {
	@apply text-blue-500;
}

/* CONTENT */
#content {
    @apply relative left-[260px] transition-all duration-300 w-[calc(100%-60px)] min-[850px]:w-[calc(100%-260px)];
}
#sidebar.hide + #content {
    @apply left-[60px];
	width: calc(100% - 60px);
}
/* NAVBAR */
nav {
    @apply bg-gray-50 h-[64px] px-5 flex items-center sticky top-0 left-0 z-100;
	grid-gap: 28px;
}
nav .toggle-sidebar {
    @apply text-xl cursor-pointer;
}
nav form {
    @apply w-[50px] min-[550px]:w-[300px] min-[750px]:w-[300px] min-[900px]:w-[400px] min-[1040px]:w-[500px]  mr-auto;
}
nav .form-group {
	@apply relative;
}
nav .form-group input,
nav .form-group-melayang input {
    @apply w-full bg-gray-100 rounded-[5px] border-0 outline-0 p-[10px_36px_10px_16px] transition-all duration-300;
}
nav .form-group input {
    @apply hidden min-[550px]:block;
}
nav .form-group input:focus,
nav .form-group-melayang input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon,
nav .form-group-melayang .icon {
    @apply absolute top-1/2 -translate-1/2 right-4 text-gray-900 cursor-pointer min-[550px]:cursor-default;
}
nav .form-group-melayang {
    @apply absolute bg-gray-100 py-[5px] left-3 rounded-[10px] w-[300px] transition-all duration-300 opacity-0 pointer-events-none;
    top: calc(100% + 20px);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
nav .form-group-melayang.show {
    @apply max-[550px]:opacity-100 max-[550px]:pointer-events-auto;
    top: calc(100% + 10px);
}
nav .nav-link {
    @apply relative hidden md:block min-w-[36px] min-h-[36px] w-[36px] h-[36px] ml-5 cursor-pointer;
}
nav .nav-link .icon {
    @apply text-lg text-gray-900 bg-gray-100 flex w-full h-full items-center justify-center rounded-full;
}
nav .nav-link .badge {
    @apply absolute -top-1 -right-1 w-5 h-5 rounded-[50%] border-2 border-gray-100 bg-red-500 flex justify-center items-center text-gray-50 text-[10px] font-bold;
}
nav .divider {
    @apply w-[1px] bg-gray-500 h-3 hidden min-[1000px]:block;
}
nav .profile {
    @apply relative min-w-[50px] justify-end flex items-center gap-2 text-sm cursor-pointer;
}
nav .profile img {
    @apply min-w-[36px] min-h-[36px] w-[36px] h-[36px] rounded-[50%] object-cover;
}
nav .profile .profile-link {
    @apply absolute right-0 bg-gray-100 py-[10px] rounded-[10px] w-[160px] opacity-0 pointer-events-none transition-all duration-300;
	top: calc(100% + 10px);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
nav .profile .profile-link.show {
    @apply opacity-100 pointer-events-auto top-full;
}
nav .profile .profile-link a,
nav .profile .profile-link form {
    @apply py-[10px] px-[16px] flex gap-[5px] text-sm text-gray-900 items-center justify-between transition-all duration-300 hover:bg-gray-200;
}
nav .profile .profile-link a span,
nav .profile .profile-link form button {
    @apply flex items-center justify-center gap-1;
}
nav .profile .profile-link .badge {
    @apply size-5 flex items-center justify-center bg-red-500 text-white text-[10px] rounded-full;
}

/* MAIN */
main {
    @apply w-full p-[24px_20px_20px_20px];
}
main .title-container {
    @apply flex justify-between min-[600px]:items-center px-3 flex-col min-[600px]:flex-row items-start gap-5;
}
main .title-container .btn-plus {
    @apply flex items-center gap-2 px-3 py-2 bg-blue-500 text-gray-50 text-[15px] rounded-lg;
}
main .title {
    @apply text-3xl font-bold mb-[10px];
}
main .breadcrumbs {
    @apply flex gap-[6px];
}
main .breadcrumbs li,
main .breadcrumbs li a {
	@apply text-sm;
}
main .breadcrumbs li a {
	@apply text-blue-500;
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	@apply text-gray-600 pointer-events-none;
}
main .info-data {
	@apply mt-[36px] grid grid-cols-4 gap-5 grid-cols-[repeat(auto-fit,minmax(240px,1fr))];
}
main .info-data .card {
	@apply p-5 rounded-[20px] bg-gray-50;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
	@apply flex justify-between items-start;
}
main .card .head h2 {
	@apply text-2xl font-semibold;
}
main .card .head p {
	@apply text-sm;
}
main .card .head .icon {
	@apply text-[20px] text-green-500;
}
main .card .head .icon.down {
	@apply text-red-500;
}
main .card .progress {
	@apply block mt-6 h-[10px] w-full rounded-[10px] bg-gray-100 overflow-y-hidden relative mb-1;
}
main .card .progress::before {
	@apply content-[''] absolute top-0 left-0 h-full bg-blue-500;
	width: var(--value);
}
main .card .label {
	@apply text-sm font-bold;
}

@layer components {
    .cardTrafficDashboard {
        @apply bg-white rounded-xl shadow p-5 flex items-center gap-4 hover:shadow-lg transition;

        .icon-container {
            @apply size-13 flex items-center justify-center rounded-full text-2xl;
        }

        .titleCardTrafficDashboard {
            @apply text-sm text-gray-500;
        }
        .countTextCardTrafficDashboard {
            @apply text-2xl font-bold text-gray-800;
        }
    }

    .card_koleksi {
        @apply block flex relative overflow-hidden items-center bg-gray-50 shadow-lg rounded-xl p-5 gap-x-5 w-full cursor-pointer hover:scale-[1.005] transition duration-500;

        img {
            @apply w-[100px] h-[125px] rounded-lg object-cover;
        }

        .hapus_koleksi {
            @apply absolute top-0 right-0 cursor-pointer bg-blue-400 text-white text-sm p-2 hover:bg-red-500 transition duration-300 rounded-bl-lg;
        }

        .info_koleksi {
            @apply flex-1 mt-0;

            h4 {
                @apply text-lg min-[600px]:text-xl font-fredoka font-semibold line-clamp-2;
            }

            .kategori_koleksi {
                @apply mt-1 mb-2 flex gap-x-3;

                span {
                    @apply text-xs px-2 min-[600px]:px-3 py-0.5 border border-black rounded-full;
                }
            }

            p {
                @apply text-xs min-[600px]:text-sm mt-1;
            }
        }
    }
}