@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-poppins: "Poppins", Arial, Helvetica, sans-serif;
}

* {
    @apply font-poppins;
}

body {
    @apply flex justify-center items-center min-h-screen bg-gray-200;
}

.alert-auth {
    @apply text-left bg-green-300/30 p-[10px] text-sm rounded;
}
.alert-auth.error {
    @apply bg-red-500/30;
}

.container {
    @apply relative w-[850px] h-[550px] bg-gray-50 rounded-[30px] shadow-[0_0_30px_rgba(0,0,0,.2)] overflow-hidden m-5;
}

.form-box {
    @apply absolute right-0 w-1/2 h-full bg-gray-50 flex items-center text-gray-800 text-center p-10 z-1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
    @apply right-1/2;
}

.form-box.register {
    @apply invisible;
}
.container.active .form-box.register {
    @apply visible;
}

form {
    @apply w-full;
}

.container h1 {
    @apply text-4xl mb-3 font-bold;
}

.input-container {
    @apply my-[20px];
}
.input-container p {
    @apply text-red-500 text-left;
    font-size: 14px !important;
    margin: 5px !important;

}
.input-box {
    @apply relative;
}

.input-box input {
    @apply w-full p-[13px_50px_13px_20px] bg-gray-100 rounded-[8px] border-none outline-none text-[15px] text-gray-800;
}

.input-box input::placeholder {
    @apply text-gray-400;
}

.input-box i {
    @apply absolute right-5 top-1/2 transform -translate-y-1/2 text-xl text-gray-400;
}

.register .input-box input {
    @apply p-[9px_50px_9px_17px] text-sm;
}
.register .input-box i {
    @apply text-lg;
}

.forgot-link {
    @apply m-[-15px_0_15px];
}

.forgot-link a {
    @apply text-sm text-gray-800;
}

.btn {
    @apply w-full h-12 bg-blue-400 rounded-[8px] shadow-[0_0_10px_rgba(0,0,0,.1)] border-0 cursor-pointer text-[16px] text-gray-50 font-semibold;
}

.register .btn {
    @apply h-10 text-[15px];
}

.container p {
    @apply text-[15px] my-[15px];
}

.social-icons {
    @apply flex justify-center;
}

.social-icons a {
    @apply inline-flex p-[10px] border-2 border-gray-300 rounded-[8px] text-2xl text-gray-800 mx-2;
}
.register .social-icons a {
    @apply text-xl;
}

.toggle-box {
    @apply absolute w-full h-full;
}
.toggle-box::before {
    @apply content-[''] absolute w-[300%] h-full bg-blue-400 z-2 left-[-250%] rounded-[150px];
    transition: 1.8s ease-in-out;
}
.container.active .toggle-box::before {
    @apply left-1/2;
}

.toggle-panel {
    @apply absolute w-1/2 h-full flex flex-col justify-center items-center text-gray-50 z-2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    @apply left-0;
    transition-delay: 1.2s;
}
.container.active .toggle-panel.toggle-left {
    @apply -left-1/2;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    @apply -right-1/2;
    transition-delay: .6s;
}
.container.active .toggle-panel.toggle-right {
    @apply right-0;
    transition-delay: 1.2s;
}

.toggle-panel h1 {
    @apply text-[33px];
}
.toggle-panel p {
    @apply mb-5;
}

.toggle-panel .btn {
    @apply w-[160px] h-[46px] bg-transparent border-2 border-gray-50 shadow-none;
}

@media screen and (max-width: 800px) {
    .container {
        height: calc(100vh - 40px);
    }

    .form-box {
        @apply bottom-0 w-full h-[70%];
    }
    .container.active .form-box {
        @apply right-0 bottom-[30%];
    }

    .toggle-box::before {
        @apply left-0 top-[-270%] w-full h-[300%] rounded-[20vw];
    }

    .container.active .toggle-box::before {
        @apply left-0 top-[70%];
    }

    .toggle-panel {
        @apply w-full h-[30%];
    }
    .toggle-panel h1 {
        @apply text-3xl;
    }

    .toggle-panel.toggle-left {
        @apply top-0;
    }
    .container.active .toggle-panel.toggle-left {
        @apply left-0 -top-[30%];
    }

    .toggle-panel.toggle-right {
        @apply right-0 -bottom-[30%];
    }
    .container.active .toggle-panel.toggle-right {
        @apply bottom-0;
    }
}

@media screen and (max-width: 400px) {
    .form-box {
        @apply p-5;
    }

    .toggle-panel h1 {
        @apply text-2xl;
    }
}